<h3><a name="{{name}}">{{name}}</a></h3>
<ul>
<li>Type: {{type}}</li>
<li>File: {{filename}}:{{linenum}}</li>
</ul>
<p><pre>{{{doc}}}</pre></p>
<pre id="source-{{linenum}}">
    <code class="lang-javascript">{{{source}}}</code>
</pre>
<a href="#top">back to top</a>
